@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ну привет</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" href="/spa" role="button">Получить фильм</a> 
    }
    else
    {
        <p>Вы кто такой? Я вас не знаю. Идите</p>
        <nav style="height:100px" class="nav-item"><a asp-controller="UserAccount" asp-action="Login" class="btn btn-primary">Входить в учётную запись</a></nav>
        <nav style="height:100px" class="nav-item"><a asp-controller="UserAccount" asp-action="Register" class="btn btn-primary">Регистрироваться</a></nav>
    }
</div>
