@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        Мы собираем данные о погоде в городе пользователя, времени суток, настроении, наличии магнитных бурь,
        проценте вероятности технногенных катастроф и стихийных бедствий. Наши тараканы это анализируют,
        передают анализ хомякам из отдела статистики. Там они пробегают по колёсам данных, и передают, думаете пользователю? Не тут то было-
        Кролям посыльным где они несутся в юридический отдел корпы <a href="https://yandex.by/">Яндекс</a>. Там бездушные машины выдают разрешение 
        на все нужные данные, и так-как слишком уж долго это всё длится, мы вертолетами высылаем нужные фильмы вам.
    </p>
</div>
